---
version: '3.6'

x-besu-common-env: &besu-common-env
  BESU_CONFIG_FILE: /config/config.toml
  BESU_GENESIS_FILE: /config/genesis.json
  BESU_NODE_PRIVATE_KEY_FILE: /opt/besu/keys/nodekey
  BESU_MIN_GAS_PRICE: 0
  BESU_RPC_HTTP_API: EEA,WEB3,ETH,NET,TRACE,DEBUG,ADMIN,PRIV,PERM,${BESU_CONS_ALGO:-IBFT}
  BESU_RPC_WS_API: EEA,WEB3,ETH,NET,TRACE,DEBUG,ADMIN,PRIV,PERM,${BESU_CONS_ALGO:-IBFT} 


x-besu-bootnode-def:
  &besu-bootnode-def
  restart: "on-failure"
  image: hyperledger/besu:${BESU_VERSION:-latest}
  env_file:
    - ./config/besu/.env
  entrypoint:
    - /bin/bash
    - -c
    - |

      cp "/config/${BESU_CONS_ALGO:-IBFT}genesis.json" /config/genesis.json

      /opt/besu/bin/besu public-key export --to=/tmp/bootnode_pubkey;
      /opt/besu/bin/besu --p2p-host=$$(hostname -i)


x-besu-def:
  &besu-def
  restart: "on-failure"
  image: hyperledger/besu:${BESU_VERSION:-latest}
  env_file:
    - ./config/besu/.env
  entrypoint:
    - /bin/bash
    - -c
    - |

      cp "/config/${BESU_CONS_ALGO:-IBFT}genesis.json" /config/genesis.json

      while [ ! -f "/opt/besu/public-keys/bootnode_pubkey" ]; do sleep 5; done ;
      /opt/besu/bin/besu --p2p-host=$$(hostname -i)


x-tessera-def:
  &tessera-def
  image: quorumengineering/tessera:${TESSERA_VERSION:-latest}
  expose:
    - 9000
    - 9080
    - 9101
  restart: "no"
  healthcheck:
    test: ["CMD", "wget", "--spider", "--proxy", "off", "http://localhost:9000/upcheck"]
    interval: 3s
    timeout: 3s
    retries: 20
    start_period: 5s
  entrypoint:
    - /bin/sh
    - -c
    - |
      mkdir -p /var/log/tessera/;
      mkdir -p /data/tm/;
      cp /config/keys/nodeKey.* /data/tm/ ;
      cat /data/tm/tessera-config-09.json
      /tessera/bin/tessera -configfile /data/tm/tessera-config-09.json &> /var/log/tessera/tessera-$$HOSTNAME.log | tee -a /var/log/tessera/tessera-$$HOSTNAME.log


services:
  portainer:
    image: cr.portainer.io/portainer/portainer-ce:2.9.3
    container_name: portainer
    restart: always
    ports:
      - 8000:8000
      - 9443:9443 
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      quorum-dev-quickstart:

  validator1:
    << : *besu-bootnode-def
    container_name: validator1
    environment:
      <<: *besu-common-env
      OTEL_RESOURCE_ATTRIBUTES: service.name=validator1,service.version=${BESU_VERSION:-latest}
    volumes:
      - public-keys:/tmp/
      - ./config/besu/:/config
      - ./config/nodes/validator1:/opt/besu/keys
      - ./logs/besu:/tmp/besu
    networks:
      quorum-dev-quickstart:
        ipv4_address: 172.16.239.11

  validator2:
    << : *besu-def
    container_name: validator2
    environment:
      <<: *besu-common-env
      OTEL_RESOURCE_ATTRIBUTES: service.name=alidator2,service.version=${BESU_VERSION:-latest}
    volumes:
      - public-keys:/opt/besu/public-keys/
      - ./config/besu/:/config
      - ./config/nodes/validator2:/opt/besu/keys
      - ./logs/besu:/tmp/besu
    depends_on:
      - validator1
    networks:
      quorum-dev-quickstart:
        ipv4_address: 172.16.239.12

  validator3:
    << : *besu-def
    container_name: validator3
    environment:
      <<: *besu-common-env
      OTEL_RESOURCE_ATTRIBUTES: service.name=validator3,service.version=${BESU_VERSION:-latest}
    volumes:
      - public-keys:/opt/besu/public-keys/
      - ./config/besu/:/config
      - ./config/nodes/validator3:/opt/besu/keys
      - ./logs/besu:/tmp/besu
    depends_on:
      - validator1
    networks:
      quorum-dev-quickstart:
        ipv4_address: 172.16.239.13

  validator4:
    << : *besu-def
    container_name: validator4
    environment:
      <<: *besu-common-env
      OTEL_RESOURCE_ATTRIBUTES: service.name=validator4,service.version=${BESU_VERSION:-latest}
    volumes:
      - public-keys:/opt/besu/public-keys/
      - ./config/besu/:/config
      - ./config/nodes/validator4:/opt/besu/keys
      - ./logs/besu:/tmp/besu
    depends_on:
      - validator1
    networks:
      quorum-dev-quickstart:
        ipv4_address: 172.16.239.14

  member1tessera:
    << : *tessera-def
    container_name: tessera1
    ports:
      - 9081:9080
    environment:
      - TESSERA_CONFIG_TYPE="-09"
      - JAVA_OPTS="-Dlogback.configurationFile=/config/logs/logback.xml"
    volumes:
      - ./config/tessera/tessera1/tessera1.conf:/data/tm/tessera-config-09.json
      - ./config/tessera:/config/logs
      - ./config/nodes/tessera1:/config/keys
      - member1tessera:/data
      - ./logs/tessera:/var/log/tessera/
    networks:
      quorum-dev-quickstart:
        ipv4_address: 172.16.239.26

  member2tessera:
    << : *tessera-def
    container_name: tessera2
    ports:
      - 9082:9080
    environment:
      - TESSERA_CONFIG_TYPE="-09"
      - JAVA_OPTS="-Dlogback.configurationFile=/config/logs/logback.xml"
    volumes:
      - ./config/tessera/tessera2/tessera2.conf:/data/tm/tessera-config-09.json
      - ./config/tessera:/config/logs
      - ./config/nodes/tessera2:/config/keys
      - member2tessera:/data
      - ./logs/tessera:/var/log/tessera/
    networks:
      quorum-dev-quickstart:
        ipv4_address: 172.16.239.27

  member3tessera:
    << : *tessera-def
    container_name: tessera3
    ports:
      - 9083:9080
    environment:
      - TESSERA_CONFIG_TYPE="-09"
      - JAVA_OPTS="-Dlogback.configurationFile=/config/logs/logback.xml"
    volumes:
      - ./config/tessera/tessera3/tessera3.conf:/data/tm/tessera-config-09.json
      - ./config/tessera:/config/logs
      - ./config/nodes/tessera3:/config/keys
      - member3tessera:/data
      - ./logs/tessera:/var/log/tessera/
    networks:
      quorum-dev-quickstart:
        ipv4_address: 172.16.239.28

  member4tessera:
    << : *tessera-def
    container_name: tessera4
    ports:
      - 9084:9080
    environment:
      - TESSERA_CONFIG_TYPE="-09"
      - JAVA_OPTS="-Dlogback.configurationFile=/config/logs/logback.xml"
    volumes:
      - ./config/tessera/tessera4/tessera4.conf:/data/tm/tessera-config-09.json
      - ./config/tessera:/config/logs
      - ./config/nodes/tessera4:/config/keys
      - member4tessera:/data
      - ./logs/tessera:/var/log/tessera/
    networks:
      quorum-dev-quickstart:
        ipv4_address: 172.16.239.29


volumes:
  portainer_data:
  public-keys:
  prometheus:
  grafana:
  cakeshop:
  member1tessera:
  member2tessera:
  member3tessera:
  member4tessera:

networks:
  quorum-dev-quickstart:
    name: quorum-dev-quickstart
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.239.0/24
